html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}
#header {
   background:#292c2f;
   padding:10px;
   text-align:center;
   color:  #ffffff;
}
#body {
   padding:10px;
   padding-bottom:100px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   text-align:center;
   background:#292c2f;
}
.footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

.footer-company-name a{
	color:  #8f9296;
}

.footer-links{
	list-style: none;
	font-weight: bold;
	color:  #ffffff;
	padding: 35px 0 23px;
	margin: 0;
}

.footer-links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #555555;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column_item {
  float: left;
  width: 20%;
  padding: 15px;
}

.column_item_25_image {
  float: left;
  width: 300px;
  padding: 15px;
}

.column_item_25 {
  float: left;
  width: 25%;
  padding: 15px;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #39405C;
  color:#ffffff;
  transition: 0.3s;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,1.0);
}

.card img {
  border-radius: 5px 5px 0 0;
  padding:5px;
}

.container {
  padding: 2px 16px;
}

.drow
{
	 font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}

/*Image center*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.centerb
{
  margin: auto;
  width: 50%;
  padding: 10px;
}

/*Button Rental Css*/
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width:100%;
}
/*Table CSS*/
table.etable
{
	width:91.6%;
	border-spacing: 15px;
	display:inline-table;
}


table
{
	width:100%;
	display: block;
	border-spacing: 15px;
}

td.a
{
	text-align:right;
	vertical-align:top;
	font-weight:bold;
}

td.b
{
	text-align:left;
	vertical-align:top;
}

td.c
{
	vertical-align:top;
}

td.d
{
	text-align:right;
	width:50%;
	vertical-align:top;
}

td.e
{
	text-align:right;
	width:59%;
}

td.f
{
	text-align:center;
}

/*Product Name CSS*/
h1.a
{
	text-align:center;
}

h3.a
{
	text-align:center;
}

/**************************/
label {
  padding-left: 12px;
  padding-top: 12px;
  display: inline-block;
  /*width: 140px;*/
}

.containerr {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/**************************/


/**************************/
div.a
{
  font-size: 200%;
  text-align:center;
  font-weight:bold;
}

div.b
{
  text-align:center;
  height:auto;
}

div.acenter {
  margin: auto;
  width: 50%;
}

label.b
{
	font-family: Arial,sans-serif;
}

label.c
{
	color:rgba(102,0,102,1.0);
}

img.a {
  float: left;
  border-style:groove;
  padding:20px;
  width:300px;
  height:400px;
}

img.home_town {
  width:50%;
}
/**************************/