/*To specify the content layout of each page*/
/*Wrote by Chua Chung Long*/
html,
body {
   margin:0;
   padding:0;
   height:100%;
}

/*To specify the content layout of each page*/
/*Wrote by Chua Chung Long*/

#container {
   min-height:100%;
   position:relative;
}

/*To specify the layout and background of the header*/
/*Wrote by Chua Chung Long*/

#header {
   background:#292c2f;
   padding:10px;
   text-align:center;
   color:  #ffffff;
}

/*To specify the padding of the content top and bottom*/
/*Wrote by Chua Chung Long*/

#body {
   padding:10px;
   padding-bottom:100px;
}

/*To specify the layout and background of the footer*/
/*Wrote by Chua Chung Long*/

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   text-align:center;
   background:#292c2f;
}

/*To specify the text decoration of the footer company and year*/
/*Wrote by Chua Chung Long*/

.footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/*To specify the text decoration of the footer email hyperlink*/
/*Wrote by Chua Chung Long*/

.footer-company-name a{
	color:  #8f9296;
}

/*To specify the text decoration of the footer link*/
/*Wrote by Chua Chung Long*/

.footer-links{
	list-style: none;
	font-weight: bold;
	color:  #ffffff;
	padding: 35px 0 23px;
	margin: 0;
}

/*To specify the text decoration of the footer link for hyperlink*/
/*Wrote by Chua Chung Long*/

.footer-links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}

/*Style the top navigation bar*/
/*Wrote by Chua Chung Long*/

.topnav {
  overflow: hidden;
  background-color: #555555;
}

/*Style the topnav links*/
/*Wrote by Chua Chung Long*/

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
/*Wrote by Chua Chung Long*/

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/*To specify the card layout in index and category page*/
/*Wrote by Chua Chung Long*/

* {
  box-sizing: border-box;
}

/* Create 5 equal columns that floats next to each other */
/*Wrote by Chua Chung Long*/

.column_item {
  float: left;
  width: 20%;
  padding: 15px;
}

/*To specify the layout of the profile image*/
/*Wrote by Chua Chung Long*/

.column_item_25_image {
  float: left;
  width: 300px;
  padding: 15px;
}

/*To specify the layout of the profile information*/
/*Wrote by Chua Chung Long*/

.column_item_25 {
  float: left;
  width: 25%;
  padding: 15px;
}

/*To specify the half layout in product1..., aboutme and etc*/
/*Wrote by Chua Chung Long*/

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/*To specify the product listing layout of the index, category page*/
/*Wrote by Chua Chung Long*/

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #39405C;
  color:#ffffff;
  transition: 0.3s;
  border-radius: 5px;
}

/*To specify the mouse hover decoration of product listing layout of the index, category page*/
/*Wrote by Chua Chung Long*/

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,1.0);
}

/*To specify the thumbnail decoration of product listing layout of the index, category page*/
/*Wrote by Chua Chung Long*/

.card img {
  border-radius: 5px 5px 0 0;
  padding:5px;
}

/*To specify the thumbnail description of product listing layout of the index, category page*/
/*Wrote by Chua Chung Long*/

.container {
  padding: 2px 16px;
}

/*To specify the text type of Disclaimer page*/

.drow
{
	 font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*To specify remove the underline for all hyperlink*/
/*Wrote by Chua Chung Long*/

a {
  text-decoration: none;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
/*Wrote by Chua Chung Long*/

@media screen and (max-width:600px) {
	
	/*To specify the half layout in product1..., aboutme and etc in mobile side*/
	/*Wrote by Chua Chung Long*/
	
	.column {
		width: 100%;
	}
	
	/* Create 1 equal columns that floats next to each other in mobile side*/
	/*Wrote by Chua Chung Long*/
	
	.column_item {
		float: left;
		width: 20%;
		padding: 15px;
	}
	
	/*To specify the layout of the profile image in mobile side*/
	/*Wrote by Chua Chung Long*/

	.column_item_25_image {
		float: left;
		width: 300px;
		padding: 15px;
	}
	
	/*To specify the layout of the profile information in mobile side*/
	/*Wrote by Chua Chung Long*/

	.column_item_25 {
		float: left;
		width: 25%;
		padding: 15px;
	}
}

/*Image center*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* .centerb */
/* { */
  /* margin: auto; */
  /* width: 50%; */
  /* padding: 10px; */
/* } */

/*Button Rental Css*/
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width:100%;
}
/*To specify the layout of table in enquiry*/
table.etable
{
	width:91.6%;
	border-spacing: 15px;
	display:inline-table;
}

/*To specify the layout of table in all page*/

table
{
	width:100%;
	display: block;
	border-spacing: 15px;
}

/*To specify the text alignment in aboutme,product information title*/

td.a
{
	text-align:right;
	vertical-align:top;
	font-weight:bold;
}

/*td.b
{
	text-align:left;
	vertical-align:top;
}*/

/* td.c */
/* { */
	/* vertical-align:top; */
/* } */

/*To specify the text alignment of title of field input of enquiry*/

td.d
{
	text-align:right;
	width:50%;
	vertical-align:top;
}

/*To specify the text alignment of title of field input in Address fieldset of enquiry*/

td.e
{
	text-align:right;
	width:59%;
}

/*To specify the text alignment of title of enquiry*/

td.f
{
	text-align:center;
}

/*To specify the text alignment of heading in all page*/
h1.a
{
	text-align:center;
}

/*To specify the text alignment of heading in all page*/

h3.a
{
	text-align:center;
}

/*To specify the layout of text in all page*/

label {
  padding-left: 12px;
  padding-top: 12px;
  display: inline-block;
  /*width: 140px;*/
}

/* .containerr { */
  /* border-radius: 5px; */
  /* background-color: #f2f2f2; */
  /* padding: 20px; */
/* } */

/* .col-25 { */
  /* float: left; */
  /* width: 25%; */
  /* margin-top: 6px; */
/* } */

/* .col-75 { */
  /* float: left; */
  /* width: 75%; */
  /* margin-top: 6px; */
/* } */

/**************************/


/*To specify the title of aboutme*/

div.a
{
  font-size: 200%;
  text-align:center;
  font-weight:bold;
}

/*To specify the content of disclaimer*/

div.b
{
  text-align:center;
  height:auto;
}

/*To specify the layout of enquiry*/

div.acenter {
  margin: auto;
  width: 50%;
}

/*To specify the text type of the student_id of aboutme*/

label.b
{
	font-family: Arial,sans-serif;
}

/*To specify the text color of the course of aboutme*/

label.c
{
	color:rgba(102,0,102,1.0);
}

/*To specify the image layout of the profile image*/

img.a {
  float: left;
  border-style:groove;
  padding:20px;
  width:300px;
  height:400px;
}

/*To specify the image layout of howmtown in aboutme */
/*Wrote by Chua Chung Long*/

img.home_town {
  width:25%;
}
/**************************/